<!doctype html>
<html>
    <head>
        <style type="text/css">
        #data
        {
            font-family: monospace;
        }
    </style>
    </head>
    <body>
        Here is all the provided content:
        <div id = "data">
            <%= data %>
        </div>
    </body>
</html>